.projetos-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .projeto {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
  }
  
  h2 {
    color: black;
  }
  
  h3 {
    color: #007BFF;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  