html {
  scroll-behavior: smooth;
}
.home {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
  }
}
