.contatos-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: black;
  }
  
  h3 {
    color: #007BFF;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  .informacoes-contato, .redes-sociais {
    margin-bottom: 20px;
  }
  
  .informacoes-contato p {
    margin-bottom: 8px;
  }
  
  .redes-sociais ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .redes-sociais ul li {
    margin-bottom: 8px;
  }
  
  .redes-sociais a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
  }
  
  .redes-sociais a:hover {
    color: #0056b3;
  }
  