.chat-interno{
    position: fixed;
    height: 100%;
    width: 405px;
    background-color: white;
    /* top: 65px; */
    top:0;
    z-index: 1000;
    right: 0;
     /* transition: 0.3s; */
     /* box-shadow: 0px 0px 10px 1px #aaaaaa */

}


.chat-interno-min{
    right:-350px !important;
    transition: 0.3s;
}

.chat-interno-none{
   display:none;
}


.chat-interno-header{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 18px;
    padding:20px;
    /* margin-bottom: 10px; */
    color:white;
    /* background-color: #0b465e; */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 1px solid #00000025;
}


.chat-interno-restore{
    left: 9px;
    top: 17px;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    place-content: center;
    align-items: center;
}


.chat-interno-close-mobile{
    right: 19px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
}

@media screen and (max-width: 1020px) {
    .chat-interno{
        display: none;
        width: 100vw;
    }
    /* .chat-interno-none{
        display:flex;
    } */
    .chat-interno-none{
        display:block;
    }

    .chat-interno-min{
        right: 0px !important;
        
    }

    .chat-interno-restore{
        display: none;;
    }
    .chat-interno-close-mobile{
        display: block;
    }

}
.chat-interno-contato{
    display: flex;
    place-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    cursor:pointer;
}
.chat-interno-contato:hover{
   background-color: rgb(231, 231, 231);
}
.chat-interno-contato-img{
    display: flex;
    position: relative;;
}
.chat-interno-contato-img img{
    border-radius:50%;
    width: 50px;
}
.chat-interno-item-img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-size: cover;
    float: left;
    background-position: center center;
    position: relative;
}

.chat-interno-contato-img .img-letter{
    border-radius:50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    display: flex;    
    align-items: center;
    place-content: center;
}
.chat-interno-contato-img-messages{
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: rgb(61, 61, 61);
    right: -3px;
    bottom: 0px;
    font-size: 10px;
    color: white;
    border-radius: 50px;
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
    font-weight: 100;
    display: flex;
    align-items: center;
    place-content: center;
}

.chat-interno-status-online{
    background-color: #00ee00;
}

.chat-interno-status-offline{
    background-color: red;
}

.chat-interno-msg-white{
    color:white !important;
}

.chat-interno-lista-open{
    overflow-y: auto;
    /* height: calc(100% - 152px); */
    height: calc(100% - 183px) !important;
}
.chat-interno-lista-open-gestor{
    height: calc(100% - 183px) !important;
}
.chat-interno-lista-closed-gestor{
    height: calc(100% - 127px) !important;
}
.chat-interno-lista-closed{
    overflow-y: scroll;
    height: calc(100% - 127px) !important;
    border-bottom: 1px solid #cccccc;
}
.chat-interno-lista-closed-rev{
    overflow-y: scroll;
    height: calc(100% - 70px) !important;  
}

#wbot-chat-container #wbot-open-chat{
    right: 7px
}

.chat-interno-contato-dados{
    display: flex;
    font-weight: 400;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: inherit;
}
.chat-interno-contato-dados-datahora{
    position: absolute;
    font-weight: 300;
    right: 0;
    top:0;
    color: #999999;
    font-size: 11px;
    margin-right: 10px;
}
.chat-interno-contato-dados-mensagem{
   
    font-weight: 300;   
    font-size: 13px;
}
.chat-interno-pesquisa-container{
    padding-left:30px;
    background-color: white;
    height: 63px;
    padding: 16px;
}
.chat-interno-pesquisa svg {
    float:left;
}
.chat-interno-pesquisa span i {
    font-size: 18px;
    line-height: 23px;
    color: #bdc1c3;
    margin-left: 18px;
}

.chat-interno-pesquisa{
    padding-left:30px;
    background-color: white;
    height: 34px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #f1f0f0;
}
.chat-interno-pesquisa input{
    border: none;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    outline: none;
    width: calc(100% - 39px - 25px);
    float: left;
}
.chat-interno-tab-container  {
    /* margin: 5px; */
    /* position:relative; */
    display:flex;
    padding-left:15px;
    padding-right:15px;
    margin-top:15px;
}
.chat-interno-tab-selected{
   font-weight: bold;
   border-bottom: 3px solid #00a5bb !important;
}
.chat-interno-tab{
    color: #999999;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    line-height: 30px;
    border-bottom: 3px solid #f7f7f7;
    text-align: center;
}

.chat-interno-tab-all{
    width: 160px !important;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.chat-interno-chat-container {
    height:100%;
    background-color: #efefef;         
}

.chat-interno-dados-grupo-container{
    height:100%;
    background-color: #efefef;
}
.chat-interno-dados-grupo-header {
    height:200px;
    /* background-color:rgb(16, 100, 134); */
    display:flex;
    position: relative;
    z-index: 9999;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */

}
.chat-interno-dados-grupo-header-back {
    height: 70px;
    width: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position:absolute;
}
.chat-interno-dados-grupo-header-back:hover{
    cursor:pointer;    
}

.chat-interno-dados-grupo-header-background{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(16, 100, 134);
    display:flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .4;
    width: 100%;
    height: 100%;
}
.chat-interno-dados-grupo-header-dados {
    /* height: 70px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: end;
    color:white;
    margin-bottom: 10px;
    margin-left: 10px;
}
.chat-interno-dados-grupo-header-nome{
    font-size: 20px;
}
.chat-interno-dados-grupo-header-createdby{
    font-size: 14px;
}

.chat-interno-grupo-participantes{
    overflow-y: scroll;
    height: calc(100% - 168px);
    background-color: white;
}
.chat-interno-grupo-participante-dados{
    display: flex;
    font-weight: 400;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: inherit;
    align-self: center;
}
.chat-interno-grupo-participante-nome{

}
.chat-interno-grupo-participante-adm{
    font-size: 10px;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 26px;
    padding: 1px 5px;
    color: white;
    font-weight: 500;
    position: relative;
    top: -1px;
}
.chat-interno-grupo-participante-menu{
    width: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position: absolute;
    right: 0;
}
.chat-interno-grupo-participantes-item ul{
    visibility:hidden;
}
.chat-interno-grupo-participantes-item:hover ul{
    visibility:visible;
}
.chat-interno-grupo-participantes-count{
    padding:10px 15px;
}

.chat-interno-grupo-nao-participantes-container{
    overflow-y: scroll;
    max-height: 600px;
    background-color: white;
}

.chat-interno-grupo-participantes-item{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    border-bottom:1px solid #f2f2f2;
    cursor:pointer;
}

.chat-interno-grupo-participantes-img{
    display: flex;
    position: relative;;
}
.chat-interno-grupo-participantes-img .chat-interno-item-img{
    border-radius:50%;
    width: 40px;
    height: 40px;
    background-size: cover;
    float: left;
    background-position: center center;
    position: relative;
}


.chat-interno-grupo-participantes-img .img-letter{
    border-radius:50%;
    width: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;    
    line-height: 40px;
}

/* .chat-interno-chat-mensagens {
    height:calc(100% - 60px);
} */

.chat-interno-chat-controles {
    display: flex;
    height:60px;
    background-color:white;
    position: absolute;
    bottom:0;
    width: 100%;
    box-shadow: 0px 0px 10px 1px #aaaaaa
}

.chat-interno-chat-controles-disabled > *{
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.chat-interno-chat-controles-audio, .chat-interno-chat-controles-file, .chat-interno-chat-controles-send{
    margin: 15px 10px 20px 10px;
    font-size: 30px;
}
 
#chat-interno-chat-controles-input{
    width: calc(100% - 100px);
    
}
.chat-interno-chat-anexo-container{
    width: calc(100% - 100px);
    /* border:1px solid black; */
    display:flex;
    flex-wrap:wrap;
    overflow-y:auto;
    align-items: flex-start;
    padding:10px;
}

.chat-interno-chat-only-adm{
    width: calc(100% - 100px);
    /* border:1px solid black; */
    display:flex;
    flex-wrap:wrap;
    overflow-y:auto;
    align-items: flex-start;
    padding:10px;
    align-content:center;
}


.chat-interno-chat-anexo-item{
    /* border:1px solid green; */
    border-radius:30px;
    padding: 5px 10px; 
    height: auto;
    /* background: #555; */
    background-color : #000000;
    margin: 5px;
    color:white;
    height: auto;
    display:flex;
    align-items:center;
}
.chat-interno-chat-anexo-item i{
    margin-left:10px;
}

.chat-interno-chat-anexo-item i:hover, .chat-interno-chat-controles-file:hover i, .chat-interno-chat-controles-send:hover, 
.chat-interno-chat-controles-audio:hover{
    opacity:0.8;
    cursor: pointer;
}
    

.chat-interno-chat-controles textarea{
    border: none;
    float: left;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    width: calc(100% - 274px);
    height: 30px;
    max-height: 120px;
    resize: none;
}

.chat-interno-chat-header {
    height:70px;
    /* background-color:rgb(16, 100, 134); */
    display:flex;

}
.chat-interno-chat-notificacao{
    width: 100%;
    text-align: center;
    background: #e4e4e4;
    padding: 10px;
    z-index: 1000;
    border-bottom: 1px solid #d0d0d0;
    color: #828282;
}
.chat-interno-chat-header-back {
    height: 70px;
    width: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.chat-interno-chat-header-img {
    height: 70px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-interno-chat-header-img .img-letter{
    border-radius:50%;
    width: 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}


.chat-interno-chat-header-img img{
    width: 50px;
}
.chat-interno-chat-header-dados {
    height: 70px;
    display: flex;
    flex-direction: column;
   
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color:white;
    margin-left: 10px;
}
.chat-interno-chat-header-dados-nome{
    font-size: 16px;
}
.chat-interno-chat-header-dados-status{
    font-size: 12px;
}
.chat-interno-chat-header-menu {
    height: 70px;
    width: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position: absolute;
    right: 0;
}
.chat-interno-chat-mensagens{
    overflow-y: auto;
    /* height:  calc(100% - 180px); */
    height:  calc(100% - 200px);
    padding:10px;
    border-left: 1px solid #e4e4e4;
}

.chat-interno-chat-mensagens-gestor{
    overflow-y: auto;
    height:  calc(100% - 200px);
    padding:10px;
}

.chat-interno-chat-mensagens-loading{
    width:100%;
    margin-top: 10px;
    text-align: center;
}

.chat-interno-chat-mensagens-container-contact{
    /* height: 50px; */
    margin-bottom: 10px;
    /* background-color:green; */
    color:white;
}
.chat-interno-chat-mensagens-container-me{
     margin-bottom: 10px;
    /* background-color:green; */
    color:white;
   text-align: right;
}
.chat-interno-chat-mensagens-container-box-contact{
    background-color: white;
    color: grey;
    height: auto;
    max-width: 90%;
    min-width: 40%;
    display: inline-block;
    padding: 15px;
     border-radius: 5px 5px 0px 5px;
}
.chat-interno-chat-mensagens-container-box-me{
    background-color: #555;
    color: white;
    height: auto;
    max-width: 90%;
    min-width: 40%;
    display: inline-block;
    padding: 15px;
    border-radius: 5px 5px 0px 5px;
    text-align: left;
}
.chat-interno-chat-mensagens-container-box-contact hr{
    border-top-color:#dadada;
    margin:5px 0;
}
.chat-interno-chat-mensagens-container-box-me hr{
    border-top-color:#848484;
    margin:5px 0;
}
.chat-interno-chat-mensagens-container-box-title{
    font-weight: bold;
}
.chat-interno-chat-mensagens-container-box-dt{
    margin-top: 10px;
    font-size: 11px;
    opacity: 0.8;
    text-align: right;
}

.chat-interno-chat-mensagens-container-box-dt i:hover{   
    cursor: pointer;
}

.chat-interno-chat-header i{
    color: white !important;
    opacity: 0.8;
}
.chat-interno-chat-header i:hover, .chat-interno-pesquisa i:hover{
    opacity: 1;
    cursor: pointer;
}

.chat-interno-hide{
    display:none;
}


#fileInputChatInterno{
    display: none;
}



.chat-interno-contato-tooltip{
  visibility: hidden;
  position: absolute;
  right: 103%;
  min-width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  margin-top: 10px;
}

.chat-interno-contato-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  
}
.chat-interno-contato:hover .chat-interno-contato-tooltip{
    visibility: visible;
}